.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(188, 239, 255);
}

.titleOne {
  text-align: center;
  width: 100vw;
}

.titleTwo {
  text-align: center;
  width: 100vw;
}

ul.list {
  list-style: none;
  font-size: 1.5em;
  text-align: start;
}

.content {
  display: flex;
}

.services,
.request {
  padding: 2vw;
  width: 50%;
}

.request {
  border-left: solid;
}

.aspect {
  padding: 1vw;
  font-size: 1.4em;
}

label {
  margin-right: 0.5em;
}

.btn {
  margin: 1vw;
  font-size: 1em;
  font-weight: 600;
  height: 2.4em;
  box-shadow: 5px 10px 5px darkgray;
  cursor: pointer;
  color: white;
  background-color: rgb(115, 134, 141);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(188, 239, 255);
  color: black;
}

#cuantos,
#cuando,
#hora {
  border-radius: 5px;
  padding: 0em 0.5em;
  font-size: 1em;
}

@media (max-width: 380px) {
  .App {
    text-align: center;
  }
  .content {
    display: inline;
  }

  .services,
  .request {
    width: 100%;
    border: none;
  }
}
