.App {
  /* text-align: center; */
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(188, 239, 255);
}

.titleOne {
  text-align: center;
  width: 100vw;
}

.titleTwo {
  text-align: center;
  width: 100vw;
}

ul.list {
  list-style: none;
  font-size: 1.5em;
  text-align: start;
}

.content {
  display: flex;
}

.services,
.request {
  padding: 2vw;
  width: 50%;
}

.request {
  border-left: solid;
}

.aspect {
  padding: 1vw;
  font-size: 1.4em;
}

label {
  margin-right: 0.5em;
}
