.header {
  display: flex;
  background-color: rgb(188, 239, 255);
}

.header img {
  margin: 2vw;
  justify-self: flex-start;
  width: 6vw;
  height: 12vh;
}

.titleOne {
  text-align: center;
  font-size: 2.4em;
  padding: 1vw;
  width: 76vw;
}

ul.list {
  list-style: none;
  font-size: 1.5em;
  text-align: start;
}

.content {
  display: flex;
  position: absolute;
}

.back {
  background-image: url("girl.jpg");
  background-size: cover;
}

.overlay {
  background: rgba(255, 255, 255, 0.65);
  height: 140vh;
}

.services,
.request {
  padding: 2vw;
  width: 50%;
}

.request {
  border-left: solid;
}

.aspect {
  padding: 1vw;
  font-size: 1.4em;
}

label {
  margin-right: 0.5em;
}

.btn {
  margin: 1vw;
  font-size: 1em;
  font-weight: 600;
  height: 2.4em;
  box-shadow: 5px 10px 5px darkgray;
  cursor: pointer;
  color: white;
  background-color: rgb(115, 134, 141);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(188, 239, 255);
  color: black;
}

#cuantos,
#cuando,
#hora {
  border-radius: 5px;
  padding: 0em 0.5em;
  font-size: 1em;
}

@media (max-width: 420px) {
  .back {
    background-image: none;
  }

  .header img {
    margin: 1vw;
    width: 14vw;
  }

  .titleOne {
    font-size: 1.7em;
    padding: 0;
  }

  .content {
    text-align: center;
    display: inline;
    padding: 0 1.5em;
  }

  ul.list {
    text-align: center;
    margin-left: -1em;
  }

  .services,
  .request {
    width: 97%;
    border: none;
  }
}
